<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MOVIES1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
          </a>
          <div class="dropdown-menu wider-ddm" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Comedy</a>
            <a class="dropdown-item" href="#">Fantasy</a>
            <a class="dropdown-item" href="#">Thriller</a>
            <a class="dropdown-item" href="#">Romance</a>
            <a class="dropdown-item" href="#">Adventure</a>
            <a class="dropdown-item" href="#">Sci-Fi</a>
            <a class="dropdown-item" href="#">Drama</a>
            <a class="dropdown-item" href="#">Horror</a>
            <a class="dropdown-item" href="#">Mystery</a>
            <a class="dropdown-item" href="#">Animation</a>
            <a class="dropdown-item" href="#">Crime</a>
            <a class="dropdown-item" href="#">Documentary</a>
            <a class="dropdown-item" href="#">Biography</a>
            <a class="dropdown-item" href="#">Family</a>
            <a class="dropdown-item" href="#">Music</a>
            <a class="dropdown-item" href="#">Sport</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class='btn btn-success' (click)="login()">{{this.buttonText}}</button>
      </span>
    </div>
  </div>
</nav>